<style>
  body{
    background-color: orange;
        }
</style>
<p>Como persona me veo eficaz muy dispuesta a lograr y alcanzar lo que se propone no dejandose caer, una persona fuerte, dedicada y cariñosa con grandes deseos de superacion. En el futuro me veo como una persona trabajadora muy dedicado en su labor con deseos de superacion y anhelos de ser mejor cada dia con mayor paciencia, esmero y buen gusto por la comida asi como tambien con un gran sentido del humor.</p>
<img src="anciano.jpg" width="500" height="500"/>

